.emailId{
    margin-top: 150px;
    height: 300px;
    justify-content: center;
    align-items: center;
    width: 850px;
    background: linear-gradient( rgb(245, 214, 243)60px,white);
    margin-left: 7vw;
}
.email-heading{
    text-align: center;
  position: relative;
  top: 50px;
}
.email-heading h3{
    font-size: 4.4vw;
    margin-bottom: 2.5vw;
    letter-spacing: -1px;
}
.email-heading p{
    margin-top: -1vw;
    letter-spacing: -1px;
    font-weight: 500;
    font-size: 2vw;
  
}
.email-box{
    margin-top: 7.8vw;
    text-align: center;
}
.email-box input{
    width: 380px;
    height: 7vh;
    border-radius: 25px;
    border: 1px solid gray;
    font-size:15px;
    margin-left: 10px;
 text-align: unset;
 margin-bottom: 2vw;
}
.email-box button{
    background-color: black;
    color: white;
    width: 150px;
    height: 7vh;
    border-radius: 25px;
    position: relative;
    left: -3.3vw;
    margin-top: -0.5vw;
}
.email-box button:hover{
    background-color: black;
   color: white;
    transform:scale(1.01);
}
@media(max-width:767px){
    
    .emailId{
       margin-left: 0vw;
        width:100vw;
    }
    .email-box{
        margin-top: 10vw;
    }
    .email-box input{
        width: 320px;
        height: 5.5vw;
        font-size: 2vw;
    }
    .email-box button{
        font-size: 2vw;
        width: 120px;
        margin-left: -1.2vw;
        margin-top: -0.7vw;
        height: 5.5vw;
    }
}
@media(max-width:580px){
    .email-box{
        margin-top: 0.9vw;
    }
    .email-box button{
        margin-left: -5vw;
        margin-top: -0.2vw;
    }
}
@media(max-width:650px){
    .email-box{
        margin-top: 12.2vw;
    }
}
@media(max-width:527px){
    .email-box button{
        margin-top: -0.1vw;
    }
}
@media(max-width:490px){
    .emailId{
        margin-top: -23vw;
    }
}
@media(max-width:470px){
    .email-box{
        margin-top: 14vw;
    }
    .email-box input{
        width: 60vw;
        height: 6.8vw;
    }
    .email-box button{
        height: 6.8vw;
    }
}
@media(max-width:440px){
    .email-box button{
        margin-top: 0.1vw;
    }
}
@media(max-width:410px){
    .email-box{
        margin-top: 15vw;
    }
}
@media(max-width:381px){
    .email-box button{
        margin-top: 0.4vw;
    }
}
@media(max-width:355px){
    .email-box button{
        margin-top: 0.7vw;
    }
    .email-box{
        margin-top: 16vw;
    }
}
@media(max-width:335px){
    .email-box input{
        width: 55vw;
    }
}
@media(max-width:326px){
    .email-box button{
        margin-top: 0.9vw;
    }
    .email-heading{
      position: relative;
      top: 10vw;
    }
    .email-box{
        margin-top: 13.2vw;
    }
}
@media(max-width:301px){
    .email-box button{
        width: 24.8vw;
        margin-top: 1.5vw;
    }
    .
}